# KitServer configuration file

kdb.dir = ".\"

vKey.homeKit = 0x31
vKey.awayKit = 0x32
vKey.gkHomeKit = 0x33
vKey.gkAwayKit = 0x34

# ADVANCED FEATURE
# possible values: 
# 0 - no texture boost
# 1 - kit textures from KDB are boosted
# 2 - all kit textures are boosted
kit.useLargeTexture = 2

vKey.prevBall = 0x56
vKey.nextBall = 0x42
vKey.randomBall = 0x52
vKey.resetBall = 0x43
